@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-purple: 122 106 225;
    --color-primary: var(--color-purple);
  }
}



@font-face {
  font-family: FakePearl;
  src: url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-Light.woff2) format("woff2")
  , url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-Light.woff) format("woff");
  font-weight: 400;
}

@font-face {
  font-family: FakePearl;
  src: url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-SemiBold.woff2) format("woff2")
  , url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-SemiBold.woff) format("woff");
  font-weight: 700;
}

.list-enter-active,
.list-leave-active {
  transition: all 0.3s ease;
}
.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: scale(.8, .5);
}